body {
  background-color: white;
}
li{
  margin-left: 20px;
  margin-bottom: 5px;
}
a{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
h1 {
  color:black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: calc(20px + 2.5vw);
}
h2{
  color:black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: calc(10px + 1.75vw);
}
.image-txt {
  display: flex;
align-items: center;
flex-direction: row;
padding-bottom: calc(5px + 2vw);

}
.image-txt:last-child {
  padding-bottom: 0px;
}
.txt {
padding-left: calc(10px + 5vw);
padding-right: calc(10px + 5vw);
}
body {
  color: black;
  /* text-align: center; */
  padding-left: calc(10px + 5vw);
  padding-right: calc(10px + 5vw);
  font-size: calc(9px + 0.75vw);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
img{
  width:100%;
  max-width:800px;
  height: 100%;
  max-height: 800px;
  padding-left: calc(10px + 15vw);
  align-self: center;
  padding-right: calc(10px + 5vw);
  align-items: center;
  
}
* > :last-child { margin-bottom: 0 !important; margin-right: 0 !important; }

div {
  display: flex;
  justify-content: center;
}
.line{
  color:darkblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: calc(10px + 1.25vw);
}
@media screen and (max-width: 1024px) {
  .line {
      display: none !important;
  }
}
.box{
justify-content: left;
width: 100%;
height: 100%;
max-width:calc(60px + 12.5vw);
max-height: calc(60px + 12.5vw);

}
@media screen and (min-width: 1024px) {
.box {
    display: none !important;
}
}